.br-5 {
	border-radius: 5rpx !important;
}

.br-8 {
	border-radius: 8rpx !important;
}

.br-10 {
	border-radius: 10rpx !important;
}
.br-15 {
	border-radius: 15rpx !important;
}
.br-20 {
	border-radius: 20rpx !important;
}
.br-25 {
	border-radius: 25rpx !important;
}
.br-30 {
	border-radius: 30rpx !important;
}
.br-35 {
	border-radius: 35rpx !important;
}
.br-40 {
	border-radius: 40rpx !important;
}
.br-45 {
	border-radius: 45rpx !important;
}
.br-50 {
	border-radius: 50rpx !important;
}
.br-8-t {
	border-top-left-radius: 8rpx !important;
	border-top-right-radius: 8rpx !important;
}
.br-8-b {
	border-bottom-left-radius: 8rpx !important;
	border-bottom-right-radius: 8rpx !important;
}
