.b-f {
	background-color: #fff !important;
}
.b-f1 {
	background-color: #f1f1f1 !important;
}
.b-f4 {
	background-color: #f4f4f4 !important;
}
.b-f6 {
	background-color: #f6f6f6 !important;
}
.b-0 {
	background-color: #000 !important;
}

.b-t {
	background-color: rgba(0, 0, 0, 0.3);
}

.bg-red {
	background-color: #ed0505 !important;
}
.bg-orange {
	background-color: #ed7205 !important;
}
.bg-gold {
	background-color: #edbf05 !important;
}

.bg-blue {
	background-color: #3b75ef !important;
}
.bg-green {
	background-color: #02b875 !important;
}
.bg-grey {
	background-color: #cbcbcb !important;
}
