// base color
$bgColor: #f5f5f5; // 主题色
$white: #ffffff; // 纯白色

$green: #02b875;
$gray: #999999;


$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// base width
$mainWidth: 1200px;

// base position
